@model LibraryManagmentSystemMVC.Application.ViewModel.ReservationVm.NewReservationVm

@{
    ViewData["Title"] = "StwórzRezerwacje";
}

<h4>Nowa rezerwacja</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="BookId" class="control-label col-sm-2"></label>
                <div class="col-md-6">
                    <select class="js-example-basic-single form-control" asp-for="BookId" asp-items="@(new SelectList(ViewBag.books,"Id","Name"))"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CustomerId" class="control-label col-sm-2"></label>
                <div class="col-md-6">
                    <select class="js-example-basic-single form-control" asp-for="CustomerId" asp-items="@(new SelectList(ViewBag.customers,"Id","Name"))"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartDate" class="control-label col-sm-2"></label>
                <div class="col-md-6">
                    <input asp-for="StartDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
