@model LibraryManagmentSystemMVC.Application.ViewModel.BookVm.NewBookVm

@{
    ViewData["Title"] = "EditBook";
}


<h4>Edytuj</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="EditBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PublishingHouse" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="PublishingHouse" class="form-control" />
                    <span asp-validation-for="PublishingHouse" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="RealseDate" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="RealseDate" class="form-control" />
                    <span asp-validation-for="RealseDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="AuthorId" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <select class="js-example-basic-multiple form-control" asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.authorsList,"Id","Name"))"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="GenresId" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <select class="js-example-basic-multiple form-control" asp-for="GenresId" asp-items="@(new SelectList(ViewBag.genreList,"Id","Name"))"></select>
                    <span asp-validation-for="GenresId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróc do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
}
