@model LibraryManagmentSystemMVC.Application.ViewModel.CustomerVm.CustomerForEditVm

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>EditCustomer</h1>

<h4>CustomerForEditVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @for(int i=0; i<Model.Addresses.Count; i++)
            {
                <h4>Address</h4>
                <div class="form-group">
                    <input asp-for="Addresses[i].Id" type="hidden" />
                </div>
                <div class="form-group">
                    <label asp-for="Addresses[i].Country" class="control-label"></label>
                    <input asp-for="Addresses[i].Country" class="form-control" />
                    <span asp-validation-for="Addresses[i].Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addresses[i].City" class="control-label"></label>
                    <input asp-for="Addresses[i].City" class="form-control" />
                    <span asp-validation-for="Addresses[i].City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addresses[i].Street" class="control-label"></label>
                    <input asp-for="Addresses[i].Street" class="form-control" />
                    <span asp-validation-for="Addresses[i].Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Addresses[i].HouseNumber" class="control-label"></label>
                    <input asp-for="Addresses[i].HouseNumber" class="form-control" />
                    <span asp-validation-for="Addresses[i].HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Addresses[i].IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
