@model LibraryManagmentSystemMVC.Application.ViewModel.UsersVm.NewRoleVm

@{
    ViewData["Title"] = "CreateRole";
}

<h4>Nowa rola</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group row">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="RolesList">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
