@model LibraryManagmentSystemMVC.Application.ViewModel.UsersVm.NewUserVm

@{
    ViewData["Title"] = "EditUser";
}


<h4>Edytuj użytkownika</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="UserName" />
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="control-label col-sm-2"></label>
                <input asp-for="Email" class="form-control col-md-6" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="FirstName" class="control-label col-sm-2"></label>
                <input asp-for="FirstName" class="form-control col-md-6" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="LastName" class="control-label col-sm-2"></label>
                <input asp-for="LastName" class="form-control col-md-6" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="form-check-label col-sm-2">Zablokowany:</label>
                <div class="col-md-6">
                    @if (Model.LockoutEnd != DateTimeOffset.MinValue)
                    {
                        <input type="checkbox" asp-for="IsLockout" class="form-check-input" style="width: 25px; height:25px" checked />
                    }
                    else
                    {
                        <input type="checkbox" asp-for="IsLockout" class="form-check-input" style="width: 25px; height:25px" />
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
